@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }

.partner {
    padding-top: 10rem;
  }

  .member{
    padding-top: 1rem;
  }

  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  